doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Test Board
        link(rel='stylesheet', href='/layout.css')
        script(src='https://kit.fontawesome.com/7b418e3171.js', crossorigin='anonymous')
        block style
    body
        header.header
            a.header__title(href='/') Test Board
        main.main
            block content
        block script
